<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.Name %></h3>
    <p><%= @listing.Description %></p>
    <p><%= @listing.Email %></p>
    <p><%= @listing.Address %></p>
    <p><%= number_to_currency(@listing.Daily_Rental_Price) %></p>
    <p><%= number_to_currency(@listing.Weekly_Rental_Price) %></p>
  </div>
</div>


<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
